@import "./Utils/variables";
@import "./Base/typo";
@import "./Composants/button";
@import "./Composants/like";
@import "./Composants/loader";
@import "./Layout/header";
@import "./Layout/footer";
@import "./Pages/index";
@import "./Pages/menu";

body{
    margin: 0;
    @include body-font ($size : 16px);
    animation: loader 3s infinite both;
}
a{
    text-decoration: none;
    color: black;
  }