footer {
  background-color: $color-background-footer;
  color: $color-white;
  padding: 20px;
}

.footer {
  &__logo {
    @include logo-font(24px);
    margin-bottom: 10px;
  }
  &__propose {
    margin-bottom: 10px;
    i {
      margin-right: 5px;
    }
  }
  &__partner {
    margin-bottom: 10px;
    i {
      margin-right: 5px;
      transform: rotate(-45deg);
    }
  }
  &__cgu {
    margin-bottom: 10px;
  }
  &__contact {
    a {
      color: $color-white;
    }
  }
}
@media (min-width:$screen-lg-min){
  footer{
display: flex;
flex-flow: row wrap;
justify-content: space-between;}

.footer{
  &__logo {

  width: 100%;
  display: flex;
  justify-content: center;
  
}

}
}