header{
    display: flex;
    background-color: $color-white;
    height: 60px;
    a {
        height: 20px;
        position: absolute;
        left: 20px;
        top: 20px;
    }
    .header{
        &__logo{
            margin: auto;
            @include logo-font(32px);
        }
        
    }
}
@media (min-width:$screen-lg-min){
    .header__logo{
          font-size: 48px !important;
        }
}