.howto {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
  &__title {
    padding-left: 20px;
    align-self: flex-start;
  }
  &__steps {
    box-shadow: 5px 5px 10px grey;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    width: 80%;
    border-radius: 20px;
    margin-top: 30px;
    &:hover{
      background-color: lighten($color-main, $amount: 30);
      color: $color-main;}

     &:hover+.howto__steps__logo{
        color: $color-main;
      }
    
       
    &__number {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-main;
      position: absolute;
      right:90%;
      color: $color-white;
      font-size: 12px;
      
    }
    &__logo{
        margin-left: 20px;
        color: grey;
    }
    &__text{
      font-weight: 600;
      margin: auto;
          &::first-letter{
            text-transform: uppercase;
        }
    }
  }
}
