.localisation{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(grey, $color-background 10%,$color-background);
    i{
        margin-right: 5%;
    }
    p{
        font-size: larger;
        font-weight: 600;
        font-family: $main-typo, sans-serif;
        }
    }