@mixin like_icon {
    .fas {
        opacity: 0;
        transition: 1s ease-in-out;
    }
    .fa-stack:hover{
        .fas{opacity:1;}
        .far{opacity: 0;}
    }
    .fa-gradient {
    background: linear-gradient(170deg,
            lighten($color-second, 5%),
            $color-second 10%,
            $color-main);
            -webkit-background-clip: text;
            -webkit-text-fill-color:transparent;
            
        }
    }
     