$color-main:#9356DC;
$color-second : #FF79DA;
$color-third : #99E2D0;
$color-background : lightgrey;
$color-white: white; 
$color-background-footer:#353535;

// Tablets and small desktops
$screen-lg-min: 992px;
